{% extends '_template.html.twig' %}
{% block title %}
	Nouveau categorie
{% endblock %}

{% block content %}
	<div class="section">

		<h1 class="title">Nouveau produit</h1>

		{{ form_start(form_category) }}

		{{ form_row(form_category.nom, {
            label: 'Nom du Categorie:'
        }) }}
		<button type="submit" class="button is-success is-fullwidth">
			Enregistrer
		</button>


		{{ form_end(form_category) }}
	</div>

{% endblock %}
